.annotationContainer {
    pointer-events: none;
}

.hoveredLabel, .annotationCircle + text {
    paint-order: stroke;
    stroke: white;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 500;
}

.annotationRect, .annotationCircle {
    stroke: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.annotationCircle {
    stroke: "black";
}
